body
  while count 
    - count-- 
    - var index = Math.floor(Math.random() * colors.length)
    - var color = colors[index]
    - var width = 
    - var height = 

    .color(style='background-color:#{color}; width:#{width}px; height:#{height}px;') = color;
